@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$theme-colors: (
  'primary': #f2b807,
  'secondary': #f28f16,
  'danger': #d93e30,
  'dark': #212121,
  'white': #f6f7f9,
  'third': #f5db13,
  'stile': #a1a1a1,
  'grass': #70a83b,
  'ice': #a2cff0,
  'fire': #f76546,
  'normal': #76aadb,
  'poison': #a974bc,
  'ground': #9b897b,
  'electric': #f7c545,
);

body {
  font-family: 'Karla', sans-serif !important;
}

$enable-gradients: 'true';

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
.btn-main {
  background-color: #73d677 !important;
  width: max-content !important;
  border: none;
  padding: 0.75rem;
  border-radius: 11px;
  font-weight: bold;
  margin-top: 0.5rem;
  box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.18);

  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.bg-gradient-main {
  background-image: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';

h1,
h2,
.title-text,
.title-desc,
.nav-link {
  font-family: 'Karla', sans-serif;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
}

.title-text {
  width: 25rem;
  font-size: 64px;
  font-weight: 400;
  @include media-breakpoint-down(md) {
    width: 100%;
    font-size: 64px;
  }
}

.title-desc {
  width: 30rem;
  font-weight: 500;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
